
/* font-family: 'Spartan', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
*{
  box-sizing: border-box;
}
/* #root{
  height: auto;

} */

body, html {
  padding:0;
  margin:0;
  height: auto;
  width: 100%;
  background-image: url( './back.svg' );
}
.App{
  font-family: 'Poppins', sans-serif;
}
.header-font{
  font-family: 'Spartan', sans-serif;
}
.blue{
  background-color: blue;
}
.logo-hover{
  font-size:40px;
  font-family: 'Dancing Script', cursive;
}
.logo-hover:hover{
  color:blue !important;
}